*{
    font-family:"Roboto";
}

body{
    background: linear-gradient(#33186A, #957D95);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin:0;
}

#container{
    background: linear-gradient(#6d4faa, #FFF5FF) ;
    padding: 20px;
    height: 110px;
    width: 430px;
    display: none;
    border-radius: 10px;
    
}

#container > .block{
    padding: 20px;
    
}


#block1{
    display: flex;
    justify-content: start;
    padding-right: 60px;
}

#block2{
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding-left: 60px;
}

.information-container{
    display: flex;
    padding-left: 10px;
    font-size: 15px;
    padding-top: 10px;
    font: bold;
}

#temperature{
    font-size: 30px;
    z-index: 100;
}

#location{
    display: flex;
    padding-bottom: 5px;
}

#date{
    display: flex;
    padding-bottom: 5px;
}

#logo{
    height: 50px;
    display: flex;
    margin: 0px;
    padding-top: 11px; 
}
